<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/svg" href="{% static 'Farsi.svg' %}"/>
</head>
<body>
<main>
    <div class="container">
        <header class="border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto bg-danger text-dark text-decoration-none">
                <div class="fs-2 mb-3">
                    <img src="{% static 'Farsi.svg' %}" alt="Проект про фарси" width="32" height="32"/>
                    <span>Проект про фарси</span>
                </div>
            </a>
        </header>
         <div class="mb-4 bg-light border rounded-1" id="title-box">
            <div class="bg-image text-white" style="background-image: url('https://avatars.mds.yandex.net/get-marketcms/1668019/img-12bbeb9a-4564-4c5d-bf4a-cd966384c838.jpeg/optimize');">
                <div class="container-fluid py-5 p-5">
                    <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                    <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">
            <div
              class="bg-image"
              style="
                background-image: url('https://media.istockphoto.com/id/1301012629/photo/old-red-persian-carpet-texture-abstract-ornament.jpg?s=612x612&w=0&k=20&c=LRjrc8fitFetQydNNKKRQas2g4b-dm6w2YvI5lrfBv4=');
                height: 12vh;
              "
            >
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                  <h5 class="text-white h-100 border-top mb-4 pb-3 pt-3 mt-4">© 2023</h5>
              </div>
            </div>
        </footer>
    </div>
</main>
</body>
</html>