{% extends "base_page.html" %}

{% block page-title %}
Язык фарси (персидский)
{% endblock %}

{% block page-lead %}
Эта страница посвещана изучению языка фарси. <br/>
Фарси - ведущий язык иранской группы индоевропейской семьи языков, обладающий богатой многовековой литературной традицией, включая признанные шедевры мировой литературы.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row mb-2">
    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Словарь</h3>
          <p class="card-text mb-auto">Страница, содержащая добавленные в словрь слова и их перевод. Материал представлен в виде таблицы</p>
            <a href="/terms-list" class="btn btn-danger">Посмотреть</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Форма для добавления слова</h3>
          <p class="card-text mb-auto">При помощи формы в этой странице вы можете добавлять новые слова в словарь</p>
            <a href="/add-term" class="btn btn-danger"> Заполнить </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
        <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Статистика</h3>
          <p class="mb-auto">Сколько слов уже добавлено? Какой они длины?</p>
                <a href="/stats" class="btn btn-danger">Изучить</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="100" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>
    <h2 class="pb-2 border-bottom">Что можете сделать вы?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Добавить ещё одну форму</h4>
        </div>
        <div class="col-lg-8">
            <p>Чтобы получить максимальную оценку по проекту, нужно две страницы, которые <span class="fst-italic">показывают</span>
            контент, а две страницы, которые <span class="fst-italic">принимают</span> контент. Одна страница с
            POST-запросом создана — это <a href="/add-term">форма сбора терминов</a>. Добавьте ещё одну форму и view, обрабатывающий её!</p>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Разнообразить контент</h4>
        </div>
        <div class="col-lg-8">
            <p>Этот проект — про математику. В условии проекта в курсе — иностранные языки. Измените содержимое страниц,
                чтобы они были полезны в контексте изучения иностранного языка (несколько примеров есть в описании проекта).</p>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Изменить вёрстку и/или дизайн-систему</h4>
        </div>
        <div class="col-lg-8">
            <p>Этот проект использует <a href="https://getbootstrap.com">Bootstrap</a>. Попробуйте другие дизайн-системы, например:
                <ul>
                    <li><a href="https://materializecss.com">Materialize</a></li>
                    <li><a href="https://semantic-ui.com">Semantic UI</a></li>
                    <li><a href="https://get.foundation/templates.html">Foundation</a></li>
                </ul>
            </p>
            <p>
                Если же вам хочется оставить Bootstrap — измените вёрстку! Добавьте картинок, замените стили — словом, пробудите
                внутреннего художника.
            </p>
            <p>
                <span class="fst-italic">Вариант улучшения:</span> как правило, у сайта есть фавикон — маленькая иконка, отображающаяся
                рядом с названием сайта во вкладке или окне браузера. Сейчас её нет — но вы можете её добавить.
            </p>
        </div>
    </div>
</div>
{% endblock %}
