{% extends "base_page.html" %}

{% block page-title %}
Словарь
{% endblock %}

{% block page-lead %}
На этой странице представлены слова, которые пользователи добавили в словарь.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Слово</th>
              <th scope="col" class="py-3">Значение</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, term, definition in terms %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ term }}</td>
                <td class="py-3">{{ definition }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
